Source: openmediavault-fail2ban
Section: devel
XB-Plugin-Section: network
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9 )
Standards-Version: 3.9.3

Package: openmediavault-fail2ban
Architecture: all
Depends: fail2ban,
         openmediavault (>= 5.1),
         whois,
         ${misc:Depends}
Description: OpenMediaVault Fail2ban plugin
 Protect OMV with Fail2ban. Fail2ban scans log files and bans IPs that
 show the malicious signs -- too many password failures, seeking for
 exploits, etc
