{{ pillar['headers']['multiline'] }}
{% set backend = salt['pillar.get']('default:OMV_FAIL2BAN_BACKEND', 'auto') -%}
{% set banaction = salt['pillar.get']('default:OMV_FAIL2BAN_BANACTION', 'iptables-multiport') -%}
{% set mta = salt['pillar.get']('default:OMV_FAIL2BAN_MTA', 'sendmail') -%}
{% set protocol = salt['pillar.get']('default:OMV_FAIL2BAN_PROTOCOL', 'tcp') -%}
[DEFAULT]
ignoreip = {{ config.ignoreip }}
findtime = {{ config.findtime }}
bantime = {{ config.bantime }}
maxretry = {{ config.maxretry }}
destemail = {{ config.destemail }}
backend = {{ backend }}
banaction = {{ banaction }}
mta = {{ mta }}
protocol = {{ protocol }}
chain = {{ config.chain }}
action_ = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
action_mw = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
            %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s"]
action_mwl = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
             %(mta)s-whois-lines[name=%(__name__)s, dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s"]

action = %({{ config.action }})s
