[{{ jail.name }}]
enabled = {{ 'yes' if jail.enable | to_bool else 'no' }}
port = {{ jail.port }}
filter = {{ jail.filter }}
logpath = {{ jail.logpath }}
bantime = {{ jail.bantime }}
maxretry = {{ jail.maxretry }}
{% if jail.chain | length %}
chain = {{ jail.chain }}
{% endif %}